body {
    font-family: 'Poppins', sans-serif;
}

.shadow {
    box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
}

.gray {
    color: #67757c;
}

.gray-g {
    color: #455a64;
}

.gray-d {
    color: #8f9aa5 !important;
}

.gray-d:hover {
    color: white !important;
}

.container-cus {
    padding-bottom: 60px;
    padding-top: 95px;
    padding-left: 4%;
    padding-right: 4%
}

.nav-cus {
    padding-left: 4%;
    padding-right: 4%;
    background: #2f3d4a;
}

.content-inner {
    max-width: 450px;
}

.content {
    padding: 5.5%;
    border-radius: 0 0 3px 3px;
}

.white {
    color: white;
}

.head-content {
    height: 100%;
    padding: 16px 0;
    background: #3f1052;
    border-radius: 3px 3px 0 0;
}

.btn-tr {
    background: transparent;
    border: navajowhite;
    cursor: pointer;
    color: #8f9aa5 !important; 
}

/* Card */
.card-top-cus {
    max-height: 180px;
}

.card-s {
    -webkit-box-shadow: 0px 5px 50px rgba(26, 137, 159, 0.3);
    box-shadow: 0px 5px 50px rgba(26, 137, 159, 0.3);
}

/* Footer */
.footer {
    bottom: 0;
    color: #67757c;
    left: 0px;
    text-align: center;
    padding: 17px 15px;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #ffffff;
    display: block;
}